SPRING_CLOUD_CONFIG_URI=
SPRING_PROFILES_ACTIVE=
EUREKA_SERVER_URL=
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_DDL_AUTO=update
TRUST_STORE_PASSWORD=
SPRING_KAFKA_SSL_TRUST_STORE_LOCATION=file:/app/ssl/kafka.server.truststore.jks
